body {
    
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    display: flex;
    width: 100%;
}

html {
    background-image: url(../images/background/velvet.jpeg);
    background-repeat: repeat-x; 
  }

h1  {
    font-family: 'Bungee', cursive;
    font-size: 1.5rem;
    color: white;
}

header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-status {
    font-family: 'Bungee', cursive;
    color:#c2b280;
    font-size: 2.2rem;
}

.container-wrapper {
    display: flex;
    width: 100vw;
    justify-content: space-around; 
}

.computer-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.computer-card {
    display: flex;
    width: 20vw;
    height: 30vw;
    background-color:#c2b280;
    background-size: contain;
}

.player-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player-card {
    display: flex;
    width: 20vw;
    height: 30vw;
    background-color: #c2b280;
    background-size: contain;
}


.computer-title {
    display: flex;
    width: 18vw;
    align-items: center;
}

.player-title {
    display: flex;
    width: 18vw;
    align-items: center;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

.deal-cards-btn {
    background-color: purple;
    font-size: 1.2rem;
    align-self:center;
    color: #c2b280;
    border: 4px solid white;
    width: 20%;
    height: 10vh;
    margin-top: 5px;  
}

.reset-button {
    background-color: #B22222;
    height: 10vh;
    color: #c2b280;
    margin-top: 5px;
    width: 20%; 
    border: 4px solid white;
    font-size: 1.2rem;   
}
